body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    max-width: 1440px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
